.card-body{
    position: absolute;
    background: ghostwhite;
    top:0em;
    left: 27em;
    height: 25em;
    border-radius: 1em;

}
.title{
    color: midnightblue;
    padding-bottom: 1em;

}
.text{
    color: midnightblue;
    font-size: large;
    padding-bottom: 1em;
    padding-top: 1em;
}